<footer class="footer--primary">
    <div class="container-main footer--main-wrap">
        <div class="my-afr">
            <h5>My Financial Review</h5>
            <ul>
                <li><a href="http://www.afr.com/alerts">My Alerts </a> <a href="http://www.afr.com/alerts?action=create">Create alert</a></li>
                <li><a href="http://tools.afr.com/portfolios/portfolios.aspx" target="_blank">Portfolio</a></li>
                <li><a href="https://login.myfairfax.com.au/beta/members/my_account?callback_uri=http://www.afr.com&amp;single_use_token=true&amp;channel_key=9ME3ACTT4ZYY1fEMfvR2EA" target="_blank">Account</a></li>
                <li><a href="#" class="tools__pinboard">My Saved Articles <span id="pins_foot_number">(0)</span></a></li>
            </ul>
        </div>
        <div class="markets-data">
            <h5>Markets Data</h5>
            <ul>
                <li><a href="http://tools.afr.com/markets-data/">Markets Overview</a></li>
                <li><a href="http://tools.afr.com/markets-data/">Australian Equities</a></li>
                <li><a href="http://tools.afr.com/markets-data/worldEquities.aspx">World Equities</a></li>
                <li><a href="http://tools.afr.com/markets-data/commodities.aspx">Commodities</a></li>
                <li><a href="http://tools.afr.com/markets-data/currencies.aspx">Currencies</a></li>
                <li><a href="http://tools.afr.com/markets-data/derivatives.aspx">Derivatives</a></li>
                <li><a href="http://tools.afr.com/markets-data/interest_rates.aspx">Interest Rates</a></li>
                <li class="premium-content"><a href="http://www.afr.com/share-tables">Share Tables</a></li>
            </ul>
        </div>
        <!-- content/footer/footer-content.jsp -->
        <div class="sub-terms">
            <h5>Subscription Terms</h5>
            <ul>
                <li><a href="/digital-subscription-terms">Digital Subscription Terms</a></li>
                <li><a href="/newspaper-subscription-terms">Newspaper Subscription Terms</a></li>
                <li><a href="http://corporatesubscriptions.com.au/" target="_blank">Corporate Subscriptions</a></li>
            </ul>
        </div>
        <div class="brands">
            <h5>Brands</h5>
            <ul>
                <li><a href="/afr-magazine">The Australian Financial Review Magazine</a></li>
                <li><a href="/boss">BOSS</a></li>
                <li><a href="/leadership/brw-lists">BRW Lists</a></li>
                <li><a href="/chanticleer">Chanticleer</a></li>
                <li><a href="/luxury">Luxury</a></li>
                <li><a href="/rear-window">Rear Window</a></li>
                <li><a href="/sophisticated-traveller">The Sophisticated Traveller</a></li>
            </ul>
        </div>
        <div class="contact">
            <h5>Contact &amp; Feedback</h5>
            <ul>
                <li><a href="/about-us">About us</a></li>
                <li><a href="/our-events">Our Events</a></li>
                <li><a href="/faq">FAQ</a></li>
                <li><a href="/contact-us">Contact us</a></li>
                <li><a href="/letters-to-the-editor">Letters to the Editor</a></li>
                <li><a href="https://support.fairfaxmedia.com.au/hc/en-gb/requests/new" target="_blank">Give feedback</a></li>
                <li><a href="http://adcentre.com.au/brands/australian-financial-review/" target="_blank">Advertise</a></li>
                <li><a href="/sitemap">Site Map</a></li>
            </ul>
        </div>
        <div class="connect">
            <h5>Connect with us</h5>
            <ul class="social">
                <li><a class="facebook" href="http://www.facebook.com/financialreview"><i class="fa fa-lg fa-facebook" aria-hidden="true"></i>Facebook</a></li>
                <li><a class="twitter" href="http://twitter.com/FinancialReview"><i class="fa fa-lg fa-twitter" aria-hidden="true"></i>Twitter</a></li>
                <li><a class="linkedin" href="http://www.linkedin.com/company/1628885?trk=tyah&amp;trkInfo=tas%3Afinancial+review%2Cidx%3A1-1-1"><i class="fa fa-lg fa-linkedin-square" aria-hidden="true"></i>Linkedin</a></li>
                <li><a class="instagram" href="https://www.instagram.com/financialreview/"><i class="fa fa-lg fa-instagram" aria-hidden="true"></i>Instagram</a></li>
            </ul>
        </div>
        <div class="network">
            <h5>Fairfax Network</h5>
            <ul>
                <li><a href="http://www.smh.com.au">The Sydney Morning Herald</a></li>
                <li><a href="http://www.theage.com.au">The Age</a></li>
                <li><a href="http://www.adzuna.com.au">Adzuna</a></li>
                <li><a href="http://www.domain.com.au">Domain</a></li>
                <li><a href="http://www.drive.com.au">Drive</a></li>
                <li><a href="http://www.rsvp.com.au">RSVP</a></li>
                <li><a href="http://www.essentialbaby.com.au">Essential Baby</a></li>
                <li><a href="http://www.domain.com.au/property-profile">Home Price Guide</a></li>
                <li><a href="http://www.weatherzone.com.au">Weatherzone</a></li>
                <li><a href="https://www.oneflare.com.au/">Oneflare</a></li>
                <li><a href="https://www.thestore.com.au/">The Store</a></li>
            </ul>
        </div>
    </div>
    <div class="container-main">
        this is the legal wrap
    </div>
</footer>
