<div class="brand-top-stories">
    <ul>
        <li>
            <h2><a href="http://www.afr.com/afr-magazine">Financial Review Magazine</a></h2>
            <article>
                <div>
                    <h3><a href="http://www.afr.com/lifestyle/the-afr-magazines-art-issue-2017-what-you-missed-20170226-gulr0o">What you missed: AFR Magazine's Art issue</a></h3>
                </div>
            </article>
            <article>
                <div>
                    <h3><a href="http://www.afr.com/brand/afr-magazine/tracey-moffatt-on-success-failure-and-the-57th-venice-biennale-20161216-gtcxtt">Why this global artist spent 'months failing'</a></h3>
                </div>
            </article>
            <article>
                <div>
                    <h3><a href="http://www.afr.com/brand/afr-magazine/how-the-chaser-rove-mcmanus-and-em-rusciano-make-money-from-comedy-20161213-gtamuh">Who's making serious money from comedy</a></h3>
                </div>
            </article>
            <article>
                <div>
                    <h3><a href="http://www.afr.com/brand/afr-magazine/how-michael-cassels-mentors-helped-him-become-a-musicals-producer-20161209-gt7hae">How this musicals maestro pursued mentors</a></h3>
                </div>
            </article>
            <article>
                <div>
                    <h3><a href="http://www.afr.com/brand/afr-magazine/filmmaker-bob-connolly-returns-to-png-25-years-after-black-harvest-20161013-gs1idp">How a capitalist dream failed in PNG</a></h3>
                </div>
            </article>
        </li>
        <li>
            <h2><a href="http://www.afr.com/boss">Boss</a></h2>
            <article>
                <div>
                    <h3><a href="http://www.afr.com/lifestyle/the-afr-magazines-art-issue-2017-what-you-missed-20170226-gulr0o">What you missed: AFR Magazine's Art issue</a></h3>
                </div>
            </article>
            <article>
                <div>
                    <h3><a href="http://www.afr.com/brand/afr-magazine/tracey-moffatt-on-success-failure-and-the-57th-venice-biennale-20161216-gtcxtt">Why this global artist spent 'months failing'</a></h3>
                </div>
            </article>
            <article>
                <div>
                    <h3><a href="http://www.afr.com/brand/afr-magazine/how-the-chaser-rove-mcmanus-and-em-rusciano-make-money-from-comedy-20161213-gtamuh">Who's making serious money from comedy</a></h3>
                </div>
            </article>
            <article>
                <div>
                    <h3><a href="http://www.afr.com/brand/afr-magazine/how-michael-cassels-mentors-helped-him-become-a-musicals-producer-20161209-gt7hae">How this musicals maestro pursued mentors</a></h3>
                </div>
            </article>
            <article>
                <div>
                    <h3><a href="http://www.afr.com/brand/afr-magazine/filmmaker-bob-connolly-returns-to-png-25-years-after-black-harvest-20161013-gs1idp">How a capitalist dream failed in PNG</a></h3>
                </div>
            </article>
        </li>
        <li>
            <h2><a href="http://www.afr.com/life-and-leisure">Life &amp; Leisure</a></h2>
            <article>
                <div>
                    <h3><a href="http://www.afr.com/lifestyle/the-afr-magazines-art-issue-2017-what-you-missed-20170226-gulr0o">What you missed: AFR Magazine's Art issue</a></h3>
                </div>
            </article>
            <article>
                <div>
                    <h3><a href="http://www.afr.com/brand/afr-magazine/tracey-moffatt-on-success-failure-and-the-57th-venice-biennale-20161216-gtcxtt">Why this global artist spent 'months failing'</a></h3>
                </div>
            </article>
            <article>
                <div>
                    <h3><a href="http://www.afr.com/brand/afr-magazine/how-the-chaser-rove-mcmanus-and-em-rusciano-make-money-from-comedy-20161213-gtamuh">Who's making serious money from comedy</a></h3>
                </div>
            </article>
            <article>
                <div>
                    <h3><a href="http://www.afr.com/brand/afr-magazine/how-michael-cassels-mentors-helped-him-become-a-musicals-producer-20161209-gt7hae">How this musicals maestro pursued mentors</a></h3>
                </div>
            </article>
            <article>
                <div>
                    <h3><a href="http://www.afr.com/brand/afr-magazine/filmmaker-bob-connolly-returns-to-png-25-years-after-black-harvest-20161013-gs1idp">How a capitalist dream failed in PNG</a></h3>
                </div>
            </article>
        </li>
        <li>
            <h2><a href="http://www.afr.com/news/special-reports">Special Reports</a></h2>
            <article>
                <div>
                    <h3><a href="http://www.afr.com/lifestyle/the-afr-magazines-art-issue-2017-what-you-missed-20170226-gulr0o">What you missed: AFR Magazine's Art issue</a></h3>
                </div>
            </article>
            <article>
                <div>
                    <h3><a href="http://www.afr.com/brand/afr-magazine/tracey-moffatt-on-success-failure-and-the-57th-venice-biennale-20161216-gtcxtt">Why this global artist spent 'months failing'</a></h3>
                </div>
            </article>
            <article>
                <div>
                    <h3><a href="http://www.afr.com/brand/afr-magazine/how-the-chaser-rove-mcmanus-and-em-rusciano-make-money-from-comedy-20161213-gtamuh">Who's making serious money from comedy</a></h3>
                </div>
            </article>
            <article>
                <div>
                    <h3><a href="http://www.afr.com/brand/afr-magazine/how-michael-cassels-mentors-helped-him-become-a-musicals-producer-20161209-gt7hae">How this musicals maestro pursued mentors</a></h3>
                </div>
            </article>
            <article>
                <div>
                    <h3><a href="http://www.afr.com/brand/afr-magazine/filmmaker-bob-connolly-returns-to-png-25-years-after-black-harvest-20161013-gs1idp">How a capitalist dream failed in PNG</a></h3>
                </div>
            </article>
        </li>
    </ul>
</div>
