<nav class="nav--network-strip">
    <ul>
        <li><a href="javascript:;" class="bind-hagrid-needs-subscription">Today's Paper</a></li>
        <li><a href="http://www.afr.com/videos">Videos</a></li>
        <li><a href="http://data.afr.com/index.html" target="_blank">Infographics</a></li>
        <li><a href="http://tools.afr.com/markets-data/" target="_blank">Markets Data</a></li>
        <li><a href="http://www.afr.com/leadership/brw-lists">BRW Lists</a></li>
    </ul>
    <ul>
        <li><a href="javascript:;">LOGIN</a></li>
        <li><a class="subscribe" href="javascript:;">SUBSCRIBE</a></li>
    </ul>
</nav>
