<nav role="navigation" class="nav--primary">
    <ul>
        <li>
            <a href="afr.com"><i class="fa fa-home" aria-hidden="true"></i></a>
        </li>
        <li>
            <a href="/news">News&nbsp;<i class="fa fa-caret-down" aria-hidden="true"></i></a>
            <ul>
                <li>
                    <a href="/news/politics">Politics</a>
                </li>
                <li>
                    <a href="/news/policy">Policy</a>
                </li>
                <li>
                    <a href="/news/economy">Economy</a>
                </li>
                <li>
                    <a href="/news/world">World</a>
                </li>
                <li>
                    <a href="/news/special-reports">Special Reports</a>
                </li>
                <li>
                    <a href="/news/rba-interview-series">RBA Interview Series</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="/business">Business&nbsp;<i class="fa fa-caret-down" aria-hidden="true"></i></a>
            <ul>
                <li>
                    <a href="/business/banking-and-finance">Banking &amp; Finance</a>
                </li>
                <li>
                    <a href="/business/mining">Mining</a>
                </li>
                <li>
                    <a href="/business/energy">Energy</a>
                </li>
                <li>
                    <a href="/business/telecommunications">Telecommunications</a>
                </li>
                <li>
                    <a href="/business/retail">Retail</a>
                </li>
                <li>
                    <a href="/business/transport">Transport</a>
                </li>
                <li>
                    <a href="/business/media-and-marketing">Media &amp; Marketing</a>
                </li>
                <li>
                    <a href="/business/accounting">Accounting</a>
                </li>
                <li>
                    <a href="/business/legal">Legal</a>
                </li>
                <li>
                    <a href="/business/small-business">Small Business</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="/markets">Markets&nbsp;<i class="fa fa-caret-down" aria-hidden="true"></i></a>
            <ul>
                <li>
                    <a href="/markets/equity-markets">Equity Markets</a>
                </li>
                <li>
                    <a href="/markets/debt-markets">Debt Markets</a>
                </li>
                <li>
                    <a href="/markets/currencies">Currencies</a>
                </li>
                <li>
                    <a href="/markets/commodities">Commodities</a>
                </li>
                <li>
                    <a href="/markets/derivatives">Derivatives</a>
                </li>
                <li>
                    <a href="/markets/market-data">Market Data</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="/street-talk">Street Talk&nbsp;</a>
        </li>
        <li>
            <a href="/real-estate">Real Estate&nbsp;<i class="fa fa-caret-down" aria-hidden="true"></i></a>
            <ul>
                <li>
                    <a href="/real-estate/commercial">Commercial</a>
                </li>
                <li>
                    <a href="/real-estate/residential">Residential</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="/opinion">Opinion&nbsp;<i class="fa fa-caret-down" aria-hidden="true"></i></a>
            <ul>
                <li>
                    <a href="/opinion/editorials">Editorials</a>
                </li>
                <li>
                    <a href="/opinion/letters-to-the-editor">Letters to the Editor</a>
                </li>
                <li>
                    <a href="/opinion/columnists">Columnists</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="/technology">Technology&nbsp;<i class="fa fa-caret-down" aria-hidden="true"></i></a>
            <ul>
                <li>
                    <a href="/technology/mobiles-and-tablets">Mobiles &amp; Tablets</a>
                </li>
                <li>
                    <a href="/technology/gadgets">Gadgets</a>
                </li>
                <li>
                    <a href="/technology/apps">Apps</a>
                </li>
                <li>
                    <a href="/technology/web">Web</a>
                </li>
                <li>
                    <a href="/technology/social-media">Social Media</a>
                </li>
                <li>
                    <a href="/technology/gaming">Gaming</a>
                </li>
                <li>
                    <a href="/technology/cloud-computing">Cloud Computing</a>
                </li>
                <li>
                    <a href="/technology/enterprise-it">Enterprise IT</a>
                </li>
                <li>
                    <a href="/technology/technology-companies">Technology Companies</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="/personal-finance">Personal Finance&nbsp;<i class="fa fa-caret-down" aria-hidden="true"></i></a>
            <ul>
                <li>
                    <a href="/personal-finance/shares">Shares</a>
                </li>
                <li>
                    <a href="/personal-finance/managed-funds">Managed Funds</a>
                </li>
                <li>
                    <a href="/personal-finance/fixed-income">Fixed Income</a>
                </li>
                <li>
                    <a href="/personal-finance/trusts">Trusts</a>
                </li>
                <li>
                    <a href="/personal-finance/banking">Banking</a>
                </li>
                <li>
                    <a href="/personal-finance/budgeting">Budgeting</a>
                </li>
                <li>
                    <a href="/personal-finance/tax">Tax</a>
                </li>
                <li>
                    <a href="/personal-finance/insurance">Insurance</a>
                </li>
                <li>
                    <a href="/personal-finance/specialist-investments">Specialist Investments</a>
                </li>
                <li>
                    <a href="/personal-finance/superannuation-and-smsfs">Superannuation &amp; SMSFs</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="/leadership">Leadership&nbsp;<i class="fa fa-caret-down" aria-hidden="true"></i></a>
            <ul>
                <li>
                    <a href="/leadership/management">Management</a>
                </li>
                <li>
                    <a href="/leadership/careers">Careers</a>
                </li>
                <li>
                    <a href="/leadership/innovation">Innovation</a>
                </li>
                <li>
                    <a href="/leadership/entrepreneur">Entrepreneur</a>
                </li>
                <li>
                    <a href="/leadership/workplace">Workplace</a>
                </li>
                <li>
                    <a href="/leadership/brw-lists">BRW Lists</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="/lifestyle">Lifestyle&nbsp;<i class="fa fa-caret-down" aria-hidden="true"></i></a>
            <ul>
                <li>
                    <a href="/lifestyle/travel">Travel</a>
                </li>
                <li>
                    <a href="/lifestyle/food-and-wine">Food &amp; Wine</a>
                </li>
                <li>
                    <a href="/lifestyle/fashion">Fashion</a>
                </li>
                <li>
                    <a href="/lifestyle/watches-and-jewellery">Watches &amp; Jewellery</a>
                </li>
                <li>
                    <a href="/lifestyle/arts-and-entertainment">Arts &amp; Entertainment</a>
                </li>
                <li>
                    <a href="/lifestyle/cars-bikes-and-boats">Cars Bikes &amp; Boats</a>
                </li>
                <li>
                    <a href="/lifestyle/health">Health</a>
                </li>
                <li>
                    <a href="/lifestyle/home-design">Home Design</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="javascript:;">All&nbsp;<i class="fa fa-caret-down" aria-hidden="true"></i></a>
            <!-- this is too much for now -->
        </li>
    </ul>
</nav>
